section.about-wrapper
    img(src="images/img_bg_purchase_area.png")
    .about-section
        .container
            h2
            .about-content
                .about-left
                    p
                    ul
                        li
                            i.fas.fa-check(aria-hidden="true")
                            | この文章はダミーです。
                        li
                            i.fas.fa-check(aria-hidden="true")
                            | この文章はダミーです。
                        li
                            i.fas.fa-check(aria-hidden="true")
                            | この文章はダミーです。
                        li
                            i.fas.fa-check(aria-hidden="true")
                            | この文章はダミーです。
                    a(href="#")
                        | 詳しくはこちら
                        i.fas.fa-chevron-right 
                .about-right
