section.carousel
    .carousel-main
        .carousel-wrapper#carousel-wrapper
            .carousel-banner#slider1
            .carousel-banner#slider2
            .carousel-banner#slider3
        .carousel-text
            p.title この文章はダミーです。
            p.subtitle フードビジネス業界のベストパートナーを目指して
            a 事業案内へ
                span
    .carousel-slider
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content")
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content") 
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content")
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content")
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content")
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content")
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content")
        .carousel-slider-child.slider1
            .carousel-img-border
                img(src="images/img_border1.png", alt="Border")
            .carousel-img-content
                .img-content-text
                    .content-text1
                        span ノロウイルス
                        img(src="images/img_subslider4.png", alt="icon")
                        img(src="images/img_subslider5.png", alt="icon")
                    .content-text2 予防と対処方法
                img(src="images/img_subslider3.png", alt="Background content")
    .carousel-mask
        img(src="images/img_mask.svg", alt="Decoration")