section.carousel
    .carousel-main
        .carousel-wrapper#carousel-wrapper
            .carousel-banner#slider1
            .carousel-banner#slider2
            .carousel-banner#slider3
        .carousel-text
            p.title
            p.subtitle
            a 事業案内へ
                span
    .carousel-slider
        .carousel-slider-child
        .carousel-slider-child
        .carousel-slider-child
        .carousel-slider-child
        .carousel-slider-child
        .carousel-slider-child
        .carousel-slider-child
        .carousel-slider-child
    .carousel-mask
        img(src="images/img_mask.svg", alt="Decoration")