section.category
    .container
        .category-title
            h2 製品情報
            a 製品情報へ 
        .category-product-wrapper
            .category-tab-wrapper
                .category-tab-item
                    a.active 商品カテゴリで選ぶ 
                        i.fas.fa-search(aria-hidden="true")
                .category-tab-item
                    a 汚れで選ぶ 
                        i.fas.fa-search(aria-hidden="true")
                .category-tab-item
                    a 洗浄箇所で選ぶ 
                        i.fas.fa-search(aria-hidden="true")
            .category-product
                .category-product-content
                    .category-product-title
                        h3 商品カテゴリーで選ぶ
                    .category-product-options
                        a.active(href="#") 食器用洗剤
                        a(href="#") 除菌・漂白剤
                        a(href="#") 除菌洗剤
                        a(href="#") 油汚れ落とし
                        a(href="#") 店舗用
                        a(href="#") 手洗い
                        a(href="#") アルコール製剤
                        a(href="#") 設備用
                        a(href="#") 設備用
                        a(href="#") その他
                        a(href="#") 食器洗浄機関連
                        a(href="#") 固形燃料
                    .category-product-show
                        .category-product-item
                            .product-img
                                img(src="images/img_product1.jpg", alt="Product")
                            p 商品名
                            i.fas.fa-angle-right
                        .category-product-item
                            .product-img
                                img(src="images/img_product1.jpg", alt="Product")
                            p 商品名
                            i.fas.fa-angle-right
                        .category-product-item
                            .product-img
                                img(src="images/img_product1.jpg", alt="Product")
                            p 商品名
                            i.fas.fa-angle-right
                        .category-product-item
                            .product-img
                                img(src="images/img_product1.jpg", alt="Product")
                            p 商品名
                            i.fas.fa-angle-right
                        .category-product-item
                            .product-img
                                img(src="images/img_product1.jpg", alt="Product")
                            p 商品名
                            i.fas.fa-angle-right


