footer
    section.subfooter
        .container
            .subfooter-box
            .subfooter-box
            .subfooter-box
    section.footer
        .container
            .link
                a(href="#") サイトマップ
                span |
                a(href="#") 個人情報保護方針
            .copyright
                p ©0000 SAMPLE Inc. All Rights Reserved.