ul.menu.bottom
    li
        a(href="#") メニュー
    li
        a(href="#") メニュー
    li
        a(href="#") メニュー
    li
        a(href="#") メニュー
    li
        a(href="#") メニュー
    li
        a(href="#") メニュー
    li
        a(href="#") メニュー