ul.menu.top
    li
        input.search-btn(type="text" placeholder="サイト内検索")
        img(src='./images/icon_search.png')
    li
        .divider
    li
        include switch-btn.pug
    li
        .divider
    li
        a(href="#") English
    li
        .divider
    li
        a(href="#") 中 文
        