section.news-section
    .news-section-left
        .news-title
            h2 お知らせ
            a(href="#") 一覧を見る
                span
        .news-left-content
            span 0000.00.00
            div.first 会社情報
            span ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
        .news-left-content
            span 0000.00.00
            div.second 会社情報
            span ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
        .news-left-content
            span 0000.00.00
            div.third 会社情報
            span ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    .news-section-right
        .news-title
            h2 環境報告
            a(href="#") 一覧を見る
                span
        .news-right-content 環境報告書0000
