section.product-carousel
    .container
        .product-carousel-title
            h2 ピックアップ商品
        .product-carousel-wrapper
            .product-carousel-mg
                .product-carousel-item
                    .product-img
                        img(src="images/img_product2.jpg", alt="Product")
                    .product-description
                        p
                            span この文章はダミーです。
                            br
                            | ダミーです。
                        h3 商品名が入ります。
                    a.product-badge 
                        i.fas.fa-video.fa-xs(aria-hidden="true")
                        |動画で紹介
            .product-carousel-mg
                .product-carousel-item
                    .product-img
                        img(src="images/img_product2.jpg", alt="Product")
                    .product-description
                        p
                            span この文章はダミーです。
                            br
                            | ダミーです。
                        h3 商品名が入ります。
                    a.product-badge 
                        i.fas.fa-video.fa-xs(aria-hidden="true")
                        |動画で紹介
            .product-carousel-mg
                .product-carousel-item
                    .product-img
                        img(src="images/img_product2.jpg", alt="Product")
                    .product-description
                        p
                            span この文章はダミーです。
                            br
                            | ダミーです。
                        h3 商品名が入ります。
                    a.product-badge 
                        i.fas.fa-video.fa-xs(aria-hidden="true")
                        |動画で紹介
            .product-carousel-mg
                .product-carousel-item
                    .product-img
                        img(src="images/img_product2.jpg", alt="Product")
                    .product-description
                        p
                            span この文章はダミーです。
                            br
                            | ダミーです。
                        h3 商品名が入ります。
                    a.product-badge 
                        i.fas.fa-video.fa-xs(aria-hidden="true")
                        |動画で紹介
            .product-carousel-mg
                .product-carousel-item
                    .product-img
                        img(src="images/img_product2.jpg", alt="Product")
                    .product-description
                        p
                            span この文章はダミーです。
                            br
                            | ダミーです。
                        h3 商品名が入ります。
                    a.product-badge 
                        i.fas.fa-video.fa-xs(aria-hidden="true")
                        |動画で紹介